// style header
.header1 {
    .table tr,td {
        font-size: 16px;
        padding: 25px;
    }
    .table_border_all{
        border: 1px solid black;
    }
    .table_border_right{
        border-right: 1px solid black;
    }
    .table_border_left{
        border-left : 1px solid black;
    }
    .table_border_top{
        border-top:  1px solid black;
    }
    .table_border_bottom{
        border-bottom: 1px solid black;
    }
}
// style footer
.footer1 {
    border-bottom: 6px ;
    .table_signature {
        thead {
            background-color: black;
            color: white;
        }
        tbody {
            background-color: silver;
        }
    }
}
//Body
.delivery_order_tax_invoice_form1 {
    .table_company {
        border-top: 6px ;
        border-bottom: 6px ;
         border-radius: 5px;
    }
    .table_company_data {
        thead {
             border: 1px solid;
             border-radius: 5px;
            color: black;
        }
        tbody tr,th,td{
          border: 1px solid  black;
           border-radius: 5px;
        }
        tfoot tr{
          border: 1px solid  black;
        }

    }
    .table_border_top{
        border-top:  1px solid black;
    }
    .table_border_bottom{
        border-bottom: 1px solid black;
    }
    .table_data {
        font-size: 14px;
        thead {

            color: black;
        }
        tbody tr {
            border-bottom: 1px solid black;
        }

    }

}
